@keyframes fade {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}

.fade{
    animation: fade 0.5s ease-in-out;
}
@keyframes pulse {
50% {transform: scale(1.5);}
}
@keyframes slide {
    0%   { background-image: radial-gradient(circle at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%),url("../assets/banner.jpg"); }
    33%  { background-image: radial-gradient(circle at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%),url("../assets/index.jpeg"); }
    66%  { background-image: radial-gradient(circle at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%),url("../assets/docking.jpg"); }
    100% { background-image: radial-gradient(circle at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%),url("../assets/banner.jpg"); }
}
