body {
background-color: rgb(233, 230, 224);
font-family: Arial, sans-serif;
}
header{
    position:sticky;
    display:flex;
    justify-content: flex-start;
    gap:120px;
    top:0;
    background-color: #545454;
    width:100%;
    height: auto;
    align-items:center;
    font-weight:bold;
    color:white;
    padding: 10px 10px 10px 15px;
    z-index:1000;
}
.logo{
    width:100px;
}
nav{
    display:flex;
    gap:20px;
}
.navtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.navtext h2 {
    margin: 0;           
    margin-bottom: 5px; 
    font-size: 25px; 
}

.navtext h4 {
    margin: 0;          
    font-size: 15px;     
    color: #ddd;         
}

nav a{
    text-decoration:none;
    color:white;
    transition: color 0.5s;
    height:auto;
    font-size:15px;
}
nav a:hover{
    color:#ffcc00;
}

.banner{
    display:flex;
    background-image: radial-gradient(circle at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%), url("../assets/banner.jpg");
    min-height:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    align-items:center;
    justify-content:center;
    color:white;
    text-shadow:2px 2px 4px #000000;
    font-size: larger;
}
section{
    display:flex;
    gap:20px;
    margin:20px;
    gap:150px;
}
.desc{
    display:flex;
    margin-left:30px;
    margin-top:20px;
    flex-direction: column;
    gap:10px;
    color:#000000;
}
.desc h1{
    font-size:2rem;
}
.desc h3{
    font-weight:normal;
}
.collage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-right:50px;
}
.collage img{
    width:auto;
    height:120px;
    margin:10px 10px 10px 10px;
    border-radius:10%;
}
.founders{
    display:flex;
    width:100%;
    height:auto;
    padding:20px 20px 20px 20px;
    background-image: radial-gradient(circle at center, rgb(0,0,0,0)20%,rgb(0,0,0,0.8)100%),url("../assets/banner.jpg");
    flex-direction:column;
    
.founderbox{
    display:Flex;
    width:100%
    height:auto;
    align-items:center;
    justify-content:center;
    gap:30px;
    padding:20px 20px 20px 20px;
}
.founderbox img{
    width:200px;
    height:100px;
    border-radius:20px;
}




footer{
    display:flex;
    width:100%;
    height:auto;
    background-color: #545454;
    padding:10px 10px 10px 10px;
    color:white;
    text-align:flex-start;
    flex-direction: column;
}
